.spaceSettingHeader{
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.spaceSettingHeader_heading{
    font-style: normal;
    font-size: 28px;
    line-height: 29px;
    color: 'white';
}